* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(165, 165, 165);
    min-height: 1080px;
}

h1, h2 {
    color: white;
}

.temp {
    height: 700px;
}


/* top image wrapper */

@keyframes typing {
    0% {width: 0%;}
    100%  {width: 100%;}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:skyblue; }
  }


#main-image-wrapper {
    position: relative;
    text-align: center;
    height:100%;
    max-width: 100%;
    width: auto;
    overflow: hidden;
}

#main-image-wrapper img{
    width: auto;
    max-width: 100%;
    max-height: 100%;
}


#main-image-wrapper div.typing-box {
    color: white;
    position: absolute;
    width: fit-content;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}


.typing-box h1 {
    font-size: 5vw;
    text-shadow: 2px 2px 0px #9f9393;
    overflow: hidden;
    border-right: .15em solid skyblue;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
        typing 2.5s steps(30, end),
        blink-caret .75s step-end infinite;
}


/* nav bar  */

nav {
    z-index: 10;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    opacity: 1;
    margin-right: 2vw;
}

