* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(165, 165, 165);
    min-height: 1080px;
    overflow-x: hidden;
}

section {
    text-align: center;
}

h1, h2, p {
    color: white;
}

.temp {
    height: 700px;
}


/* top image wrapper */

@keyframes typing {
    0% {width: 0%;}
    100%  {width: 100%;}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:skyblue; }
  }


#main-image-wrapper {
    position: relative;
    text-align: center;
    height:100%;
    max-width: 100%;
    width: auto;
    overflow: hidden;
}

#main-image-wrapper img{
    width: 100%;
    max-height: 100%;
}


#main-image-wrapper div.typing-box {
    color: white;
    position: absolute;
    width: fit-content;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}


.typing-box h1 {
    font-size: 5vw;
    text-shadow: 2px 2px 0px #9f9393;
    overflow: hidden;
    border-right: .15em solid skyblue;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
        typing 2.5s steps(30, end),
        blink-caret .75s step-end infinite;
}


/* nav bar  */

nav {
    z-index: 10;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    opacity: 1;
    margin-right: 2vw;
}



/* section */
#about p {
    font-size: 1.2rem;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 30px 0 30px 0;
}

.heading::after {
    position: absolute;
    content: '';
    top:100%;
    left: 0;
    right: 0;
    height: 2px;
    width: 70px;
    margin: 2px auto;
    background-color: skyblue;
}


/* footer */
footer {
    padding: 0 0 5% 0;
    text-align: center;
}

p#contact-email {
    width: fit-content;
    margin: 1% auto;
    font-size: 1.4rem;
    padding: 1.2%;
    letter-spacing: .15em;
    background-color: skyblue;
    border-radius: 0.4rem;
    color: white;
}

p#contact-email:hover {
    transform: scale(1.1, 1.1);
}