* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;
    position: relative;
    background-color: #101820;
    min-height: 2190px;
    overflow-x: hidden;
}

hr {
    color: #F2AA4C;
}

a {
    text-decoration: none;
}

a:link {
    color: #F2AA4C;
}

a:visited {
    color: #F2AA4C;
}

a.nav-link {
    color: #101820;
}

header {
    background-color: #101820;
    z-index: 9999;
}

nav {
    width: 100%;
    min-height: 50px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #F2AA4C;
}

nav .navbar-toggler {
    background-color: #101820;
    color: #F2AA4C;
    margin-right: 1rem;
}

nav .navbar-toggler-icon {
    color: #101820;
}

nav a {
    color: #101820;
}

nav .container-fluid {
    padding: 0.5rem;
}

nav .navbar-brand {
    color: #101820;
    font-size: 1.5rem;
}

section {
    padding: 2rem;
    margin: 2rem;
    min-height: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    min-height: 50px;
    width: 100%;
    text-align: center;
    color: #101820;
    background-color: #F2AA4C;
}

.top-header--sticky {
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
}

.js-is-sticky {
    transition: 1s;
}

#banner {
    color: #F2AA4C;
}

.strong-text {
    font-weight: bolder;
}

#profile-img {
    border-radius: 10px;
}

.section-title {
    color: #F2AA4C;
    font-weight: bolder;
}

#tech .tech-name {
    padding: 0.5rem;
    color: #ffe1b9;
    font-weight: bolder;
}

#tech .tech-container:first-of-type {
    margin: 0;
}

#tech .tech-container {
    margin: 3rem 0;
}

#tech .tech-content {
    margin-left: 1rem;
}

#tech .progress {
    margin-left: 1.2rem;
}

#project .card {
    background-color: transparent;
    box-shadow: 5px 5px #0e161f;
}

#project .card-title {
    color: #F2AA4C;
}

#project .card * {
    z-index: 1;
}

#project .thumbnail-img {
    border-radius: 20px;
}

#project .card-link {
    font-size: 1rem;
}